<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlcoTestDroid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8478275820FEEBA400D1ED2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8478276C20FEEBA600D1ED2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8478277720FEEBA600D1ED2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
